.checkout-frame {
    display: flex;   
    width: 80%;
    margin: auto;
    padding: 10px;
}

.checkout-nav {
    flex: 1;
}
.checkout-content {
    flex: 1;
}
.checkout-frame {
    max-width: 80%;
}