/* NOTE: the order of these styles DO matter */

.DateInput {
    width: 200px
}

/* Will edit everything selected including everything between a range of dates 
.CalendarDay__selected_span {
  background: #82e0aa; 
  color: white; 
  border: 1px solid 
}


.CalendarDay__selected {
  background: ark-red;
  color: white;
}

.CalendarDay__selected:hover {
  background: orange;
  color: white;
}


.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: brown;
}

*/